# Program 4 - Pandas Basics

## Part 1 (Questions 1-4)

The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
print(df.columns)
df.head()
# The first column is split into country with ID
names_ids = df.index.str.split('\s\(') # split the index by '('
df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

# rearrange column order
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]  

print (df.columns)
df.head()

Index(['S_Games', 'S_Gold', 'S_Silver', 'S_Bronze', 'S_Total', 'W_Games',
       'W_Gold', 'W_Silver', 'W_Bronze', 'W_Total', 'Total_Games',
       'Total_Gold', 'Total_Silver', 'Total_Bronze', 'Combined_Total'],
      dtype='object')
Index(['ID', 'S_Games', 'S_Gold', 'S_Silver', 'S_Bronze', 'S_Total', 'W_Games',
       'W_Gold', 'W_Silver', 'W_Bronze', 'W_Total', 'Total_Games',
       'Total_Gold', 'Total_Silver', 'Total_Bronze', 'Combined_Total'],
      dtype='object')

,ID,S_Games,S_Gold,S_Silver,S_Bronze,S_Total,W_Games,W_Gold,W_Silver,W_Bronze,W_Total,Total_Games,Total_Gold,Total_Silver,Total_Bronze,Combined_Total
Afghanistan,AFG,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria,ALG,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina,ARG,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia,ARM,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia,ANZ,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

After data cleaning process, the dataframe has coutryname as index, and has 16 columns. 

The columns are organized as :
 - Column 1: 'ID': country code 
 - Column 2-6: Summer game
   - 'S_Games': the `#` of Summer games participated 
   - 'S_Gold', 'S_Silver', 'S_Bronze', 'S_Total': the `#` of medals gold, silver, bronze, and total obtained in summer games
 - Column 7-11: Winter game
   - 'W_Games': the `#` of Winter games participated 
   - 'W_Gold', 'W_Silver', 'W_Bronze', 'W_Total': the `#` of medals gold, silver, bronze, and total obtained in winter games
 - Column 12-16: combined games  
   - 'Total_Games': the `#` of total games participated 
   - 'Total_Gold', 'Total_Silver', 'Total_Bronze', 'Combined_Total': the `#` of medals gold, silver, bronze, and total obtained in (summer + winter) games

#### Question 1

return the row with index of `United States` from dataframe `df`.

In [2]:
def question_one():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    
    return df.loc["United States"] 
    #apparently doing 
        #df.loc[["united States"]] 
        #will return a dataframe with only that row, so thats nice too
    #both of my above solutions return the same result, kinda different to your expected but i think what you want
    
    ### END CODE HERE ###
    
# do not change the code below  
question_one()

ID                 USA
S_Games             26
S_Gold             976
S_Silver           757
S_Bronze           666
S_Total           2399
W_Games             22
W_Gold              96
W_Silver           102
W_Bronze            84
W_Total            282
Total_Games         48
Total_Gold        1072
Total_Silver       859
Total_Bronze       750
Combined_Total    2681
Name: United States, dtype: object

**Expected Output**:

                                ID                 USA
                                S_Games             26
                                S_Gold             976
                                S_Silver           757
                                S_Bronze           666
                                S_Total           2399
                                W_Games             22
                                W_Gold              96
                                W_Silver           102
                                W_Bronze            84
                                W_Total            282
                                Total_Games         48
                                Total_Gold        1072
                                Total_Silver       859
                                Total_Bronze       750
                                Combined_Total    2681
                                Name: United States, dtype: object

In [3]:
#this is just nice and i didnt realize it would do that
tmpIdx="United States"
print(type(df.loc[[tmpIdx]]))
display(df.loc[[tmpIdx]])

<class 'pandas.core.frame.DataFrame'>

,ID,S_Games,S_Gold,S_Silver,S_Bronze,S_Total,W_Games,W_Gold,W_Silver,W_Bronze,W_Total,Total_Games,Total_Gold,Total_Silver,Total_Bronze,Combined_Total
United States,USA,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681

#### Question 2
Which country has won the most gold medals in summer games (Hint: Use column `S_Gold`)?

In [4]:
def question_two():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    return df.index[df["S_Gold"]==df["S_Gold"].max()][0]
    
    ### END CODE HERE ###
    
# do not change the code below  
question_two()

'United States'

**Expected Output**: 
<table >
    <tr> 
        <td> 'United States'</td> 
    </tr>
</table>

#### Question 3
Which country had the biggest difference between their summer and winter gold medal counts?

In [5]:
def question_three():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    return abs(df["S_Gold"]-df["W_Gold"]).idxmax()
    
    ### END CODE HERE ###
# do not change the code below  
question_three()

'United States'

**Expected Output**: 
<table >
    <tr> 
        <td> 'United States'</td> 
    </tr>
</table>

#### Question 4
Creates a Series called "Total_Points" which is a weighted value where each gold medal (`Total_Gold`) counts for 3 points, silver medals (`Total_Silver`) for 2 points, and bronze medals (`Total_Bronze`) for 1 point.

In [6]:
def question_four():
   
    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    df['Total_Points'] = 3*df["Total_Gold"] + 2*df["Total_Silver"]+df["Total_Bronze"]

    ### END CODE HERE ###
    return df['Total_Points'].sort_values().tail()
    
# do not change the code below  
question_four()

France           1500
Germany          1546
Great Britain    1574
Soviet Union     2526
United States    5684
Name: Total_Points, dtype: int64

**Expected Output:**

                                France           1500
                                Germany          1546
                                Great Britain    1574
                                Soviet Union     2526
                                United States    5684
                                Name: Total_Points, dtype: int64

## Part 2 (Questions 5-12)
We will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

In [7]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

#### Question 5

Split the `census_df` into two dataframes:
  - `state_census_df`: containing state level records (i.e `SUMLEV` == 40)
  - `city_census_df`: containing city level records (i.e `SUMLEV` == 50)
  
Return these two data frames.

In [8]:
def question_five():

    ### START CODE HERE ### (≈ 2 line of code)
    # replace None with your code
    state_census_df = census_df[census_df["SUMLEV"]==40]
    city_census_df = census_df[census_df["SUMLEV"]==50]
    
    ### END CODE HERE ###
    return state_census_df, city_census_df
    
# do not change the code below  
state_census_df, city_census_df = question_five()
print(len(state_census_df), len(city_census_df))

51 3142

**Expected Output**: 
<table >
    <tr> 
        <td>51 3142</td> 
    </tr>
</table>

#### Question 6
Find the total population based on 2010's census.

Hint:
 - you should state_census_df saved from question 5 
 - use the column of `CENSUS2010POP` to sum up.

In [9]:
def question_six():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    return sum(state_census_df["CENSUS2010POP"])
    
    ### END CODE HERE ###
    
# do not change the code below  
question_six()

308745538

**Expected Output**: 
<table >
    <tr> 
        <td> 308745538</td> 
    </tr>
</table>

#### Question 7
 - Creates a Series called `STATEPOPCHANGE` that is defined as the percentage change between the column of  `POPESTIMATE2015` and `POPESTIMATE2010` from `state_census_df`. This series object should be added into  `state_census_df`. 
 - Select the rows that have column value `STATEPOPCHANGE` > 10.0
 - return dataframe that only shows the columns of ['STNAME', 'POPESTIMATE2010','POPESTIMATE2015', 'STATEPOPCHANGE']

In [10]:
pd.options.mode.chained_assignment = None  # default='warn'

def question_seven():

    ### START CODE HERE ### (≈ 3-5 lines of code)
    state_census_df["STATEPOPCHANGE"]=100*abs(state_census_df["POPESTIMATE2015"]-state_census_df["POPESTIMATE2010"])/state_census_df["POPESTIMATE2010"]
    tmpDF=state_census_df[state_census_df["STATEPOPCHANGE"]>10.0]
    return tmpDF[['STNAME', 'POPESTIMATE2010','POPESTIMATE2015', 'STATEPOPCHANGE']]

    ### END CODE HERE ###
    
# do not change the code below  
question_seven()

                    STNAME  POPESTIMATE2010  POPESTIMATE2015  STATEPOPCHANGE
327   District of Columbia           605126           672228       11.088930
2024          North Dakota           674530           756927       12.215469

**Expected Output**:

	        STNAME	      POPESTIMATE2010	POPESTIMATE2015	STATEPOPCHANGE
---------------------------------------------------------------------------
 327	District of Columbia	605126	        672228	      11.088930
2024	North Dakota	        674530	        756927	      12.215469
---------------------------------------------------------------------------

#### Question 8

How many **unique** county names in USA? (Hint: Use dataframe `city_census_df`)?

In [11]:
def question_eight():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    #COUNTY=coutny code, CTYNAME=county name
    return len(city_census_df["CTYNAME"].unique())
    
    ### END CODE HERE ###
    
# do not change the code below  
question_eight()

1877

**Expected Output**: 
<table >
    <tr> 
        <td>1877</td> 
    </tr>
</table>

**Note:** Questions 9-12 are related. That means, you must first your solution for Q9, then Q10, Q11 and finally Q12. Also use dataframe `city_census_df`.

#### Question 9

Find the most common county name in USA (i.e., having the highest number of counts in column `CTYNAME`).

In [12]:
def question_nine():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    most_common_city_name = city_census_df["CTYNAME"].value_counts().idxmax()
    
    ### END CODE HERE ###
    return most_common_city_name

# do not change the code below  
most_common_city_name = question_nine()
most_common_city_name

'Washington County'

**Expected Output**: 
<table >
    <tr> 
        <td>'Washington County'</td> 
    </tr>
</table>

#### Question 10

 - Step1: Find all rows (in dataframe `city_census_df`) that have the most common county name found in question 9
 - Step2: create a new dataframe `washington_df` that stores all the rows selected from Step1, and uses the columns of 'REGION','STNAME','CTYNAME'

In [13]:
def question_ten():

    ### START CODE HERE ### (≈ 2-3 lines of code)
    washington_df = city_census_df[city_census_df["CTYNAME"]==most_common_city_name]
    
    ### END CODE HERE ###
    return washington_df
    
# do not change the code below  
washington_df = question_ten()
washington_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
65,50,3,6,1,129,Alabama,Washington County,17581,17583,17610,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
186,50,3,7,5,143,Arkansas,Washington County,203065,203060,204026,...,5.763423,5.801883,10.908233,7.168967,9.211963,9.191373,8.872065,14.267128,10.975336,12.950540
311,50,4,8,8,121,Colorado,Washington County,4814,4814,4801,...,-3.537981,-12.780222,10.930110,1.463823,15.336788,-2.913632,-12.570710,11.140305,1.672940,15.544041
396,50,3,5,12,133,Florida,Washington County,24896,24896,24754,...,-5.796984,10.967886,-8.778317,-5.505710,11.155898,-5.756446,11.008357,-8.697411,-5.301794,11.359472
547,50,3,5,13,303,Georgia,Washington County,21187,21187,21110,...,-6.219880,-11.035998,-12.870571,-3.054694,8.835458,-6.219880,-11.035998,-12.870571,-3.006206,8.883739
607,50,4,8,16,87,Idaho,Washington County,10198,10198,10195,...,-5.508558,-6.342285,-8.501700,6.613558,-5.302121,-5.606925,-6.342285,-8.501700,6.713763,-5.102041
703,50,2,3,17,189,Illinois,Washington County,14716,14716,14701,...,-8.057633,2.192006,-12.192182,-2.775850,-10.605638,-8.125918,2.123506,-12.192182,-2.775850,-10.605638
799,50,2,3,18,175,Indiana,Washington County,28262,28262,28284,...,-3.683894,-9.517699,-5.310179,0.717901,-5.454774,-3.258829,-9.161231,-4.879624,1.148641,-5.024134
896,50,2,4,19,183,Iowa,Washington County,21704,21704,21697,...,5.743693,2.468684,-0.364282,0.272171,1.849596,5.881542,2.560117,-0.273212,0.408256,1.984933
1005,50,2,4,20,201,Kansas,Washington County,5799,5799,5782,...,10.504563,-18.164519,-18.821460,-5.501819,-6.948156,12.054417,-16.780555,-17.238347,-3.549561,-4.988420
1125,50,3,6,21,229,Kentucky,Washington County,11717,11717,11742,...,3.996259,7.610672,-1.852320,2.013592,6.245316,3.826205,7.695235,-1.768123,2.097491,6.328587
1211,50,1,1,23,29,Maine,Washington County,32856,32856,32824,...,0.213626,-3.280699,-4.262285,-9.111049,-4.284274,0.366217,-2.790127,-3.829879,-8.643015,-3.811744
1234,50,3,5,24,43,Maryland,Washington County,147430,147430,147738,...,3.736213,-1.167699,-2.572657,-2.349838,-3.264127,5.246883,0.429498,-0.857552,-0.455239,-1.377890
1419,50,2,4,27,163,Minnesota,Washington County,238136,238134,238995,...,2.555118,3.260957,2.285952,3.072543,0.678755,4.178076,4.907905,4.009584,5.040262,2.615204
1501,50,3,6,28,151,Mississippi,Washington County,51137,51135,51076,...,-17.258533,-12.536440,-11.003217,-15.335437,-24.304734,-17.278235,-12.178256,-10.602371,-14.930808,-23.893487
1618,50,2,4,29,221,Missouri,Washington County,25195,25196,25177,...,-5.130755,-2.389867,0.079577,-1.592420,-11.511311,-5.011435,-2.389867,0.079577,-1.592420,-11.511311
1770,50,2,4,31,177,Nebraska,Washington County,20234,20234,20275,...,-1.874784,-1.331459,-4.492607,-0.889284,-3.998716,-1.825448,-1.282146,-4.393868,-0.790475,-3.899983
1918,50,1,2,36,115,New York,Washington County,63216,63216,63292,...,-3.719090,-1.776030,-4.165839,-4.954213,-2.342897,-3.418398,-1.522311,-3.879636,-4.634587,-2.021953
2017,50,3,5,37,187,North Carolina,Washington County,13228,13218,13163,...,-17.616422,-19.247253,3.143542,-15.579280,-15.234735,-15.854779,-17.766695,4.872490,-13.760380,-13.390530
2162,50,2,3,39,167,Ohio,Washington County,61778,61778,61708,...,0.129798,0.780050,-0.455611,-2.137467,0.016355,0.227147,1.023816,-0.162718,-1.778503,0.376173
2241,50,3,7,40,147,Oklahoma,Washington County,50976,50977,51064,...,6.550601,1.937177,-4.298577,5.621233,-0.538524,8.012789,3.273830,-2.826992,7.224540,1.057814
2279,50,4,9,41,67,Oregon,Washington County,529710,529849,531658,...,4.095125,4.109241,2.794508,2.761557,7.923706,7.187933,7.194390,6.167129,6.638461,11.759856
2345,50,1,2,42,125,Pennsylvania,Washington County,207820,207820,207877,...,3.683135,3.260434,1.219337,2.113561,1.656917,4.062988,3.750219,1.742595,2.762039,2.305276
2355,50,1,1,44,9,Rhode Island,Washington County,126979,127094,127085,...,-4.669304,-2.659574,1.551904,1.400112,0.506035,-3.533527,-1.788880,2.462459,2.428442,1.533918
2560,50,3,6,47,179,Tennessee,Washington County,122979,122979,123338,...,5.102082,6.355175,3.498305,2.204098,1.665583,5.562967,6.869373,4.065382,2.880446,2.347678
2805,50,3,7,48,477,Texas,Washington County,33718,33708,33726,...,3.929796,-3.861914,4.908877,3.937410,6.186938,5.288973,-2.505822,6.349206,5.687370,7.950504
2848,50,4,8,49,53,Utah,Washington County,138115,138115,138424,...,10.452576,13.931997,15.138553,17.835620,18.206181,10.809807,14.120739,15.384931,18.229593,18.589948
2863,50,1,1,50,23,Vermont,Washington County,59534,59526,59570,...,-1.578161,-5.617505,-3.407759,-4.097008,-6.278073,-1.376694,-5.281128,-3.087227,-3.741482,-5.920784
2957,50,3,5,51,191,Virginia,Washington County,54876,54870,54893,...,-1.058037,7.122105,-3.806956,-0.219364,-2.782507,-0.711439,7.522837,-3.388009,0.292486,-2.269940
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931

**Expected top-five lines**:

  REGION	 STNAME	               CTYNAM
---------------------------------------------
65	3	     Alabama	    Washington County
186	3	    Arkansas	    Washington County
311	4	    Colorado	    Washington County
396	3	     Florida	    Washington County
547	3	     Georgia	    Washington County

#### Question 11

From the dataframe `washington_df`, rename the `REGION` column values as follows:  1: "Northeast", 2: "Midwest", 3:"South", 4:"West"

In [14]:
def question_eleven():

    ### START CODE HERE ### (≈ 1-2 lines of code)
    washington_df['REGION'] = washington_df['REGION'].replace({1: "Northeast", 2: "Midwest", 3: "South", 4: "West"})
    ### END CODE HERE ###
    return  washington_df

# do not change the code below  
washington_df = question_eleven()
washington_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
65,50,South,6,1,129,Alabama,Washington County,17581,17583,17610,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
186,50,South,7,5,143,Arkansas,Washington County,203065,203060,204026,...,5.763423,5.801883,10.908233,7.168967,9.211963,9.191373,8.872065,14.267128,10.975336,12.950540
311,50,West,8,8,121,Colorado,Washington County,4814,4814,4801,...,-3.537981,-12.780222,10.930110,1.463823,15.336788,-2.913632,-12.570710,11.140305,1.672940,15.544041
396,50,South,5,12,133,Florida,Washington County,24896,24896,24754,...,-5.796984,10.967886,-8.778317,-5.505710,11.155898,-5.756446,11.008357,-8.697411,-5.301794,11.359472
547,50,South,5,13,303,Georgia,Washington County,21187,21187,21110,...,-6.219880,-11.035998,-12.870571,-3.054694,8.835458,-6.219880,-11.035998,-12.870571,-3.006206,8.883739
607,50,West,8,16,87,Idaho,Washington County,10198,10198,10195,...,-5.508558,-6.342285,-8.501700,6.613558,-5.302121,-5.606925,-6.342285,-8.501700,6.713763,-5.102041
703,50,Midwest,3,17,189,Illinois,Washington County,14716,14716,14701,...,-8.057633,2.192006,-12.192182,-2.775850,-10.605638,-8.125918,2.123506,-12.192182,-2.775850,-10.605638
799,50,Midwest,3,18,175,Indiana,Washington County,28262,28262,28284,...,-3.683894,-9.517699,-5.310179,0.717901,-5.454774,-3.258829,-9.161231,-4.879624,1.148641,-5.024134
896,50,Midwest,4,19,183,Iowa,Washington County,21704,21704,21697,...,5.743693,2.468684,-0.364282,0.272171,1.849596,5.881542,2.560117,-0.273212,0.408256,1.984933
1005,50,Midwest,4,20,201,Kansas,Washington County,5799,5799,5782,...,10.504563,-18.164519,-18.821460,-5.501819,-6.948156,12.054417,-16.780555,-17.238347,-3.549561,-4.988420
1125,50,South,6,21,229,Kentucky,Washington County,11717,11717,11742,...,3.996259,7.610672,-1.852320,2.013592,6.245316,3.826205,7.695235,-1.768123,2.097491,6.328587
1211,50,Northeast,1,23,29,Maine,Washington County,32856,32856,32824,...,0.213626,-3.280699,-4.262285,-9.111049,-4.284274,0.366217,-2.790127,-3.829879,-8.643015,-3.811744
1234,50,South,5,24,43,Maryland,Washington County,147430,147430,147738,...,3.736213,-1.167699,-2.572657,-2.349838,-3.264127,5.246883,0.429498,-0.857552,-0.455239,-1.377890
1419,50,Midwest,4,27,163,Minnesota,Washington County,238136,238134,238995,...,2.555118,3.260957,2.285952,3.072543,0.678755,4.178076,4.907905,4.009584,5.040262,2.615204
1501,50,South,6,28,151,Mississippi,Washington County,51137,51135,51076,...,-17.258533,-12.536440,-11.003217,-15.335437,-24.304734,-17.278235,-12.178256,-10.602371,-14.930808,-23.893487
1618,50,Midwest,4,29,221,Missouri,Washington County,25195,25196,25177,...,-5.130755,-2.389867,0.079577,-1.592420,-11.511311,-5.011435,-2.389867,0.079577,-1.592420,-11.511311
1770,50,Midwest,4,31,177,Nebraska,Washington County,20234,20234,20275,...,-1.874784,-1.331459,-4.492607,-0.889284,-3.998716,-1.825448,-1.282146,-4.393868,-0.790475,-3.899983
1918,50,Northeast,2,36,115,New York,Washington County,63216,63216,63292,...,-3.719090,-1.776030,-4.165839,-4.954213,-2.342897,-3.418398,-1.522311,-3.879636,-4.634587,-2.021953
2017,50,South,5,37,187,North Carolina,Washington County,13228,13218,13163,...,-17.616422,-19.247253,3.143542,-15.579280,-15.234735,-15.854779,-17.766695,4.872490,-13.760380,-13.390530
2162,50,Midwest,3,39,167,Ohio,Washington County,61778,61778,61708,...,0.129798,0.780050,-0.455611,-2.137467,0.016355,0.227147,1.023816,-0.162718,-1.778503,0.376173
2241,50,South,7,40,147,Oklahoma,Washington County,50976,50977,51064,...,6.550601,1.937177,-4.298577,5.621233,-0.538524,8.012789,3.273830,-2.826992,7.224540,1.057814
2279,50,West,9,41,67,Oregon,Washington County,529710,529849,531658,...,4.095125,4.109241,2.794508,2.761557,7.923706,7.187933,7.194390,6.167129,6.638461,11.759856
2345,50,Northeast,2,42,125,Pennsylvania,Washington County,207820,207820,207877,...,3.683135,3.260434,1.219337,2.113561,1.656917,4.062988,3.750219,1.742595,2.762039,2.305276
2355,50,Northeast,1,44,9,Rhode Island,Washington County,126979,127094,127085,...,-4.669304,-2.659574,1.551904,1.400112,0.506035,-3.533527,-1.788880,2.462459,2.428442,1.533918
2560,50,South,6,47,179,Tennessee,Washington County,122979,122979,123338,...,5.102082,6.355175,3.498305,2.204098,1.665583,5.562967,6.869373,4.065382,2.880446,2.347678
2805,50,South,7,48,477,Texas,Washington County,33718,33708,33726,...,3.929796,-3.861914,4.908877,3.937410,6.186938,5.288973,-2.505822,6.349206,5.687370,7.950504
2848,50,West,8,49,53,Utah,Washington County,138115,138115,138424,...,10.452576,13.931997,15.138553,17.835620,18.206181,10.809807,14.120739,15.384931,18.229593,18.589948
2863,50,Northeast,1,50,23,Vermont,Washington County,59534,59526,59570,...,-1.578161,-5.617505,-3.407759,-4.097008,-6.278073,-1.376694,-5.281128,-3.087227,-3.741482,-5.920784
2957,50,South,5,51,191,Virginia,Washington County,54876,54870,54893,...,-1.058037,7.122105,-3.806956,-0.219364,-2.782507,-0.711439,7.522837,-3.388009,0.292486,-2.269940
3163,50,Midwest,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931

**Expected top-five lines**:

  REGION	 STNAME	               CTYNAM
---------------------------------------------
65	3	     Alabama	    Washington County
186	3	    Arkansas	    Washington County
311	4	    Colorado	    Washington County
396	3	     Florida	    Washington County
547	3	     Georgia	    Washington County

#### Question 12

From the dataframe washington_df, return the value counts for each `REGION`.

In [15]:
washington_df['REGION'].value_counts()

def question_twelve():

    ### START CODE HERE ### (≈ 1 line of code)
    # replace None with your code
    return washington_df['REGION'].value_counts()
    
    ### END CODE HERE ###
    
# do not change the code below  
question_twelve()

South        12
Midwest       9
Northeast     5
West          4
Name: REGION, dtype: int64

**Expected output**:

                                        South        12
                                        Midwest       9
                                        Northeast     5
                                        West          4
                                        Name: REGION, dtype: int64